{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock head %}
  
{% block content %}
    <h1>Your Cart</h1>
    {% if cart_items %}
        <ul>
            {% for item in cart_items %}
                <li>
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    <div class="product-details">
                        <p>{{ item.product.name }} - ${{ item.product.price }} (x{{ item.quantity }})</p>
                        <a href="{% url 'remove_from_cart' item.product.id %}" class="remove-button">Remove</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="total-section">
            <p>Total: ${{ total }}</p>
            <a href="{% url 'checkout' %}" class="checkout-button">Proceed to Checkout</a>
        </div>
    {% else %}
        <p class="empty-cart">Your cart is empty.</p>
    {% endif %}
{% endblock %}
