{% extends 'base.html' %}

{% block content %}
<h1>Bandanas</h1>
{% if products %}
    <ul>
    {% for product in products %}
        <li>
            <a href="{% url 'product_detail' product.id %}">
                <h2>{{ product.name }}</h2>
                <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 200px;"/>
            </a>
            <p>${{ product.price }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No products available at the moment.</p>
{% endif %}
{% endblock %}
